body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}
.right{
    border-right:10px solid lightgrey;
}
.left{
    border-left:10px solid lightgrey;
}
header{
    background-color: #f0f0f0;
    border: 10px solid lightgrey;
    border-bottom: none;
    height: 152px;
}
h1 {
    font-size: 34px;
    line-height: normal;
    margin: 0;
    padding-left: 30px;
    padding-top: 42px;
}
.version{
    color: gray;
    display: block;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 2px;
}
h2 {
    font-family: Georgia, serif;
    font-weight: normal;
    font-size: 22px;
}
.right h2{
    margin: 20px;
    margin-left: 30px;
}
.left{
    float:left;
    padding: 5px 35px 50px 30px;
}
.right{
    float:right;
}
.right,
.left {
    background-color: #fff;
    min-height: 533px;
    width: 49.5%;
    box-sizing: border-box;
    border-bottom: 10px solid lightgray;
}

form label,input{
    display:block;
    font-size:18px;
}
label{
    margin-top:20px;
    margin-bottom: 8px;
}
input{
    background: lightgrey;
    border-radius:4px;
    border:none;
    padding:15px;
    width: 80%;

}
#button {
    background-color: lightgrey;
    border: none;
    border-radius: 5px;
    color: white;
    font-family: Georgia, serif;
    font-size: 21px;
    height: 50px;
    margin-top: 30px;
    width: 25%;
    padding: 0 18px 0 16px;
}

#button:hover {
    background: black;
}
.right div{
    margin-left: 30px;
    margin-right: 30px;
}

table{
    border:3px solid #f2f2f5;
    border-collapse: collapse;
    width: 100%;

}

td {
    text-align: left;
    padding: 18px;
}

tr:nth-child(even){background-color: #f2f2f2;}

